@model ProjectManager.Dto.CreateTaskViewModel
    @{
	Layout = null;
}
<h2>Create New Task</h2>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <h2 class="card-title text-center">Register <a href="http://opensnippets.com">open snippets</a></h2>
                    <div class="card-body py-md-4">
                                    
                    <form _lpchecked="1" asp-action="CreateTask" enctype="multipart/form-data">
                           <div class="form-group" >
                        <label for="Description">Description:</label>
                        <textarea class="form-control" asp-for="Description"></textarea>
                    </div>
                    <div class="form-group">
                                <input type="file" class="form-control" id="Document"
                                       placeholder="Document" name="Document" asp-for="Document">
                            </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create Task</button>
                    </div>
                        </form>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
